.main {
  min-height: calc(100vh - 139px);
}
.footer {
  background-color: green;
  padding: 10px;

  height: 45px;
}
.navbars {
  padding: 20px;
  text-align: end;
  height: 50px;
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-button {
  color: white;
  background-color: aqua;
}
.navbars h5 {
  padding: 20px;
  display: inline;
  color: aliceblue;
}

.navbar-inner {
  justify-content: center;
  padding: 10px;
  width: 100vw;
  height: 30px;
  background-color: white;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar-inner a {
  padding-top: 20px;
  margin: 10px;

  text-decoration: none;
}
.nav-link {
  justify-content: center;
}
.footer-text {
  color: white;
}
.navbar-img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 9px;
  left: 180px;
  width: 140px;
  height: 100px;
  background-color: rgb(236, 13, 150);
}
.medicine-img {
  height: 200px;
}
.card-text {
  height: 70px;
  overflow: hidden;
}
.card-link a {
  text-decoration: none;
}
.medicine-image {
  padding-top: 20px;
  height: 400px;
}
